# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# Dataset
# data/*.parquet
data/*.csv
data/*.json

# Local secrets
.env
